<div class="row mb-5 gy-3">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="box position-relative">
      <div class="shine"></div>
      <img src="assets/img/banner/banner-1.jpg" alt="" />
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="box position-relative">
      <div class="shine"></div>
      <img src="assets/img/banner/banner-2.jpg" alt="" />
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="box position-relative">
      <div class="shine"></div>
      <img src="assets/img/banner/banner-3.jpg" alt="" />
    </div>
  </div>
</div>


