<div class="back p-3 text-center" (click)="backToTop()">
  <h3>BACK TO TOP</h3>
</div>
<div class="footer">
    <div class="container">
        <div class="cont">
            <div class="big">
                <img src="assets/img/logo-white.png" alt="">
                <div class="call">
                    <i class="fas fa-headset"></i>
                    <div class="text">
                        <h4>Hotline free 24/24</h4>
                        <p>(+100)123 456 789</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, veritatis.</p>
            </div>


            <div class="box">
                <h5>FAQs & Help</h5>
                <ul>
                    <li>F.A.Q.s</li>
                    <li>Ordering Tracking</li>
                    <li>contacts</li>
                    <li>events</li>
                    <li>help center</li>
                </ul>
            </div>

            <div class="box">
                <h5>shopping & delivary</h5>
                <ul>
                    <li>delivary information</li>
                    <li>discount</li>
                    <li>payment & shipping</li>
                    <li>estmated delivery time</li>
                    <li>shipping guide</li>
                </ul>                
            </div>

            <div class="box">
                <h5>information</h5>
                <ul>
                    <li>popular</li>
                    <li>our services</li>
                    <li>your account</li>
                    <li>privcy policy</li>
                    <li>terms & condition</li>
                </ul>
                
            </div>
        </div>
    </div>
</div>

<div class="footer_down">
    <div class="container d-flex justify-content-between align-items-center flex-sm-row flex-column">
        <div class="fw-bold text">copyrigth © <span>topico</span> all rights reserved</div>
        <div class="payment mt-sm-0 mt-3">
            <img src="assets/img/payment-1.png" alt="">
            <img src="assets/img/payment-2.png" alt="">
            <img src="assets/img/payment-3.png" alt="">
            <img src="assets/img/payment-4.png" alt="">
        </div>
    </div>
</div>