<div class="cont mt-5 mb-5">
  <div class="box bg-white shadow-sm d-lg-block d-none">
    <h5>
      <i class="fas fa-bars me-1"></i>
      Shop By Derepartment
    </h5>

    <ul class="list-unstyled">
      <li class="text-capitalize">all categories</li>
      <li class="text-capitalize">seller production</li>
      <li class="text-capitalize">new arrivents</li>
      <li class="text-capitalize">top 10 offiers</li>
      <li class="text-capitalize">phone & taplet</li>
      <li class="text-capitalize">elctronices & digetal</li>
      <li class="text-capitalize">fashon & clothing</li>
      <li class="text-capitalize">watches</li>
      <li class="text-capitalize">tv & adiuo</li>
    </ul>
  </div>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="assets/img/slider-01.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="assets/img/slider-02.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="assets/img/slider-03.jpg" alt="">
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>

</div>

<div class="feature bg-white mb-5">
  <div class="box">
    <img src="assets/img/features1.png" alt="">
    <div>
      <h5>Free Shopping</h5>
      <p>free shopping on all order</p>
    </div>
  </div>
  
  <div class="box">
    <img src="assets/img/features2.png" alt="">
    <div>
      <h5>money gurentee</h5>
      <p>free shopping on all order</p>
    </div>
  </div>
  
  <div class="box">
    <img src="assets/img/features3.png" alt="">
    <div>
      <h5>online support 24/7</h5>
      <p>free shopping on all order</p>
    </div>
  </div>
  
  <div class="box">
    <img src="assets/img/features4.png" alt="">
    <div>
      <h5>secure payment</h5>
      <p>free shopping on all order</p>
    </div>
  </div>
  
  <div class="box">
    <img src="assets/img/features5.png" alt="">
    <div>
      <h5>member discount</h5>
      <p>free shopping on all order</p>
    </div>
  </div>

</div>